
.list_product_2{
    flex-wrap: wrap !important;
}
.product_list_item{
    width: 19.1% !important;
    margin-bottom: 10px;
}
.pagination-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination-container .pagination {
    display: flex;
    justify-content: center;
}

.pagination-container .pagination .page-item {
    margin: 0 5px;
    display: inline-block;
}

.pagination-container .pagination .page-item .page-link {
    padding: 8px 16px;
    text-decoration: none;
    color: #000;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.pagination-container .pagination .page-item .page-link:hover {
    background-color: #e0e0e0;
}
.danh-muc-item.active{
    background: #0c5460;
}
.sort-total {
    float: left;
    font-weight: 700;
    margin: 10px 20px 0 15px;
    padding-top: 3px;
    color: #3f3f3f;
}
