*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto,sans-serif;
}
header{
    background: #008B8B;
}
.max-width{
    max-width: 1200px;
    margin: 0 auto;
}
.header{
    display:flex;
    width:100%;
    padding:20px;

}
body{
    background-color: #f5f6f8;
}
.header-left{
    width: 30%;
}
.header-left .logo{
    color:#fffffc;
}
.header-right{
    display: flex;
    width: 70%;
    align-items: center;

}
.header-right-search{
    width: 45%;
    position: relative;
}
.header-right-search input{
    position: relative;
    height: 40px;
    border: none;
    padding: 0 10px;
    color: #111;
    font-size: 15px;
    border-radius: 0.9em;
    width: 100%;
}
.header-right-search i{
    position: absolute;
    font-size: 20px;
    top:10px;
    right: 5px;
}
nav.header-right-menu{
    width: 60%;
}
ul.menu-nav{
    display:flex;
    justify-content: space-evenly;

}
ul.menu-nav li{
    list-style-type: none;
}
ul.menu-nav li a{
    font-size: 16px;
    display:flex;
    color:#fffffc;
    text-decoration: none;
    align-items: center;
}
ul.menu-nav li i{
    font-size: 26px;
}
ul.menu-nav li div {
    padding: 5px;
}
input:focus{
    outline: none;
}


/*css danh muc san pham*/
.danh-muc-header{
    margin-top: 5px;
    background-color: #fffffc;

}
div.danh-muc{
    width:100%;
}
div.danh-muc-left{
    width: 18%;
    float: left;
    cursor: pointer;
}

div.danh-muc-left>h3{
    background-color: #413b49;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    display: flex;
    align-items: center;
}
div.danh-muc-left>h3 i{
    padding:15px;
}
div.danh-muc-right{
}
div.danh-muc-menu{
    text-align: right;
    display: flex;
    align-items: center;
}
div.danh-muc-item{
    width: 15%;
}
div.danh-muc-item a{
    color: #3f3f3f;
    font-weight: 500;
    line-height: 44px;
    display: flex;
    align-items: center;
    font-size: 14px;
    text-decoration:none;
    padding: 4px 15px;
    border-right: 2px solid rgba(0, 0, 1, 0.28);

    transition: transform 0.3s ease; /* Thêm transition cho transform */

}
div.danh-muc-item a:hover{
    /*transform: scale(1.2);*/
    border-radius: 5px;
}
div.danh-muc-item a img{
    margin-right: 0.5em;
    width: 21px;
    height: auto
}
/*css banner*/
.slider-container {
    padding-top: 20px;
}
.banner-home{
    background-color: #0c525d;
    width: 100%;
    display: flex;
}
.banner-left{
    width:70%;
}
.banner-right{
    width: 30%;
}
.start_carousel{
    padding: 4px;
}
.start_carousel_list{
    overflow: hidden;
    width: 796px;
}


.banner_top_item img{
    width:100%;
    object-fit: cover;
    border-radius: 0.5em;

}
.banner_bottom_item img{
    width:100%;
    object-fit: cover;
    border-radius: 0.5em;

}
ul.start_carousel_list_item{
    list-style-type: none;
    display: flex;
    /*position: relative;*/
}
.start_carousel_item{
    width: 100%;
}
.carousel_item{
    width:100%;
}
.carousel_item_img{
    width: 100%;
}
.carousel_item_img img{
    width: 796px;
    height: 235px;
    object-fit: cover;
}
.banner_top_item {
    padding: 5px 10px;
}
.banner_bottom_item{
    padding:0 10px 0;
}
.start_carousel{
    position: relative;
}
.start_carousel_btn_next{
    position: absolute;
    top: 30%;
    right: 0;
}
.start_carousel_btn_prev i, .start_carousel_btn_next i{
    font-size: 100px;
}
.start_carousel_btn_prev{
    position: absolute;
    top: 30%;
}



