
table {
    width: 100%;
    border-collapse: collapse;
    border: none; /* Remove the table border */
}

td {
    padding: 10px;
}

input.ten-thong-so {
    width:100%;
    padding: 5px;
    border: none; /* Remove the default input border */
    border-bottom: 1px solid #ccc; /* Add a bottom border */
}

.add-btn {
    margin-top: 20px;
}
